<?= $block->show() ?>
<span>Lesson Two from BLOCK (from default.phtml)</span><br>
<p><h2><?= $block->getData('custom_parameter'); ?></h2></p>

<?php $viewModel = $block->getViewModel() ?>

<?= $viewModel->show() ?>
