<h1>Overdose</h1>
<p><h2>With Layout Overdose custom.phtml !</h2></p>


<details>
<plaintext>
<?xml version="1.0"?>
<page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">
    <body>
        <referenceContainer name="content">
            <block class="Magento\Framework\View\Element\Template"
                   name="overdose.custom.layout.custom"
                   template="Overdose_LessonTwo::custom.phtml" />
        </referenceContainer>
    </body>
</page></plaintext>
</details>



