<h1>My First Template</h1>
<p><h2>With Layout by example.phtml</h2></p>


<details>
<plaintext>
<?xml version="1.0"?>
<page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">
    <body>
        <referenceContainer name="content">
            <block class="Magento\Framework\View\Element\Template"
                   name="overdose.lessontwo.layout.example"
                   template="Overdose_LessonTwo::example.phtml" />
        </referenceContainer>
    </body>
</page></plaintext>
</details>
